.mainPage {
    background-color: rgb(33, 33, 33);
    width: "full";
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth; 
  }




.list2{
    font: 1.3rem Inconsolata, monospace;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 20px;
}

.box {
    background-color:  rgb(33, 33, 33);
    display: flex;
    flex-direction: row-reverse;
  }


.skills {
background-color:  rgb(59, 59, 59);
min-height: 30px; 
width: 100px;
text-align: center;
border-radius: 10px;
border-color:  rgb(255, 203, 71);
border-width: 2px;
color: rgb(255, 203, 71);
transition: 0.3s;
margin: 5px;
}


.skills:hover{
    background-color: rgb(118, 92, 36);
    border: dotted;
}


.languages {
background-color: rgb(59, 59, 59);
min-height: 30px; 
width: 100px;
text-align: center;
border-radius: 10px;
border-color: white;
border-width: 2px;
color: whitesmoke;
padding: 5px;
transition: 0.3s;
margin: 5px;
}

.languages:hover{
    background-color: rgb(137, 137, 137);
    border: dotted;
}



/* CLASSES */

.grade{
    font: bold;
    padding: 0px 10px 0px 10px;
}

.class{
    font-size: 15px;
}

.classes {
    background-color: rgb(59, 59, 59);
    height: 150px;
    width: 150px;
    color: thistle;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    transition: 0.3s;
    }

.classes:hover{
    background-color: rgb(87, 61, 87)
}

.class_size{
    width: 150px;
}

/* Experiences */

.experiences {
    background-color:  rgb(59, 59, 59);
    min-height: 30px; 
    color: tomato;
    padding: 10px 10px 10px 10px;
    transition: 0.3s;
    margin: 5px;
    }

.experiences:hover{
    background-color: rgb(72, 34, 27)
}

.exp_when{
    font-size: 15px;
    padding-top: 4px;
    padding-left: 20px
}

.exp_what{
    padding-top: 10px;
}

.exp_where{
    font-size: 20px;
    font: bold;
}

.lil_dash{
    border-top: 2px dotted tomato;
    
}

/* Projects */

.projects {
    background-color: rgb(59, 59, 59);
    color: peru;
    padding: 10px 10px 10px 10px;
    width: 200px;
    }


.projects:hover{
    background-color: rgb(92, 56, 22)
}
    

.pro_what{
    
    font-size: 20px;
    font: bold;
}

.pro_details{
    font-size: 14px;
}

/* Souvenir */


.souvenir {
    background-color: rgb(33, 33, 33);
    height: 80%;
    display: flex;
    padding: 10px 10px 10px 10px;
    font: 1.3rem Inconsolata, monospace;
    width: 100%;
    }

    
.so_name{
    font-size: 24px;
    color: lightcoral;
}

.so_grade{
    font-size: 16px;
    color: lightcoral;
    margin-bottom: 10px;
}

.so_gpa{
    margin-top: -1px;
    font-size: 18px;
    color: lightcoral;
}

.so_comment{
    height: 50px;
    width: 100%;
    border: 1px dotted lightcoral;
    /* width: 380px; */
    background-color: transparent;
    color: lightcoral;
}

.so_drop{
    height: 100%;
    width: 100%;
    border: 2px dotted lightcoral;    
    
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
    color: lightcoral;

    display: flex;
    justify-content: center;
}

.so_drop:hover{
    border: 2px dotted rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.isEmpty{
    width: "fill";
    height: "fill";
}

.buttons{
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    width: 100%;
    justify-content: center;
    color: lightcoral;
    
}



/* EXTRA */

.legend{
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.legend_skills {
    background-color:  rgb(59, 59, 59);
    
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    border-color:  rgb(255, 203, 71);
    border-width: 2px;
    color: rgb(255, 203, 71);   
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    }
    
.legend_languages {
background-color: rgb(59, 59, 59);
font-size: 15px;
text-align: center;
border-radius: 10px;
border-color: white;
border-width: 2px;
color: whitesmoke;
margin: 10px 10px 10px 10px;
padding: 5px 5px 5px 5px;
}
    
.legend_projects {
    background-color: rgb(59, 59, 59);
    margin: 10px 10px 10px 10px;
    color: peru;
    padding: 10px 10px 10px 10px;
}

.legend_experiences {
    background-color:  rgb(59, 59, 59);
    color: tomato;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;    
}

.legend_classes {
    background-color: rgb(59, 59, 59);
    color: thistle;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px; 
}

.resume_intro{
    font-size: 40px;
    padding-top: 60%;
    padding-left: 40%;
}