.bg {
    background-color: rgb(33, 33, 33);
    font: 1.3rem Inconsolata, monospace;
    color: white;
    width: 100%;
}

.parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    /*  text-align: center; */
}

.child {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    margin-left: 1rem;

    vertical-align: top;
}

.report {
    display: hidden;
    padding: 1rem 1rem;

}

.margin {
    margin: 30px;

}